{:service {:port 8000}
 :store {:type :h2
         :dbname "./db"}
 ;; :embeddings {:vectordb :pgvector,
 ;;              :config {:host (env POSTGRES_HOST),
 ;;                       :port 5432,
 ;;                       :dbname (env POSTGRES_DB),
 ;;                       :user (env POSTGRES_USER),
 ;;                       :password (env POSTGRES_PASSWORD)}}}
 ;; :rbac-enabled true
 ;; :authentication {:service :cognito
 ;;                  :is-identity-store true
 ;;                  :superuser-email #$ FRACTL_SUPERUSER_EMAIL
 ;;                  :region          #$ AWS_REGION
 ;;                  :access-key      #$ AWS_ACCESS_KEY
 ;;                  :secret-key      #$ AWS_SECRET_KEY
 ;;                  :client-id       #$ AWS_COGNITO_CLIENT_ID
 ;;                  :user-pool-id    #$ AWS_COGNITO_USER_POOL_ID
 ;;                  :whitelist?      false}
 }
 
