name: Lint and Format Checker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  lint-and-format-check:
    name: Lint and Format Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        cache: ['npm']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clone for faster checkout
          ref: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'  # Use the latest 20.x version
          cache: 'npm'

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-


      - name: Install dependencies
        run: |
          npm ci --no-audit --prefer-offline
          
      - name: Run ESLint
        run: npm run lint

      - name: Run Prettier check
        run: npm run format:check
